body{
    background-color: #2a2a3c;
    font-family: 'Cinzel Decorative', cursive;  
}
header{
    padding: 15px;
    width: 1140px;
    margin: 0 auto;
}
main{
    padding: 15px;
    width: 1140px;
}
nav{
    display: fixed;
    font-size: 2rem;
    margin: 0 auto;
    width: 100%; 
    border: #47476b solid 1px;
    text-align: center;
    
}
nav a{
    color: #f2f2f2;
    text-decoration: none;
    margin: 0 auto;
    width: 80%; 
    text-align: center;
    margin: 2rem;
}
nav a:hover{
    transition-duration: .6s;
    color:#47476b;
    box-shadow: 5px 5px 50px #f2f2f2;
    border-radius: 10px;
    background-color: #a3a3c2;
}
footer {
    position: absolute;
    bottom: 0;
    color: #f2f2f2;
    width: 70%;
    margin: 0 auto;
    padding: 15px;
    width: 1140px;
}
.footer__content{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}