body{
    background-color: #2a2a3c;
    font-family: 'Cinzel Decorative', cursive; 
    color: #f2f2f2; 
}
.container{
    width: 1140px;
    padding: 15px;
    position: relative;
    margin: 0 auto;
    border: 0;
}
header{
    margin: 0 auto;
    position: relative;
}
.header__div__img-img{
    width: 1140px;
    border-radius: 10px;
}
.header__div__img{
    border: 0;
}
main{
    position: relative;
    padding: 2rem 0;
}
.img-map{
    width: 1140px;
    border-radius: 10px;
}
.img-map-div{
    border: 0;
}
.container{
padding: 15px;
width: 1140px;
align-content: center;
position: relative;
margin: 0 auto;
}

nav{
    display: fixed;
    font-size: 2rem;
    margin: 0 auto;
    width: 100%; 
    border: #47476b solid 3px;
    text-align: center;
    border-radius: 10px;
}
nav a{
  color: #f2f2f2; 
    text-decoration: none;
    margin: 0 auto;
    width: 80%; 
    text-align: center;
    margin: 2rem;
}
nav a:hover{
    transition-duration: .6s;
    color:#47476b;
    box-shadow: 5px 5px 50px #f2f2f2;
    border-radius: 10px;
    background-color: #a3a3c2;
}
footer {
    position: relative;
    bottom: 0;
    margin: 0 auto;
}
.footer__content{
    width: 100%;
    text-align: center;
}
div{
  border: #47476b solid 3px;
  border-radius: 10px;
}

/* Dani */

.dropbtn {
    color: #f2f2f2;
    font-size: 2rem;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2a2a3c;
    min-width: 232px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #a3a3c2;
    font-size: 1.5rem;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #a3a3c2;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #a3a3c2;
}
#alive{
    display: inline-block;
    margin: 0;
    padding: 5px;
     width:45%;
     position: relative;
     top: 0;
     border: 0;
     
}
#dead{
    display: inline-block;
    margin: 0;
    padding: 5px;
    width:45%;
    position: relative;
    vertical-align: top;
    border: 0;
    
}
.main__div__alive-dead{
    text-align: center;
    margin: 0 auto;
    border: 0;
    box-shadow: 2px 2px 20px #a3a3c2;
}
.main__div__szervezetek{
    text-align: center;
    margin: 0 auto;
    border: 0;
    box-shadow: 2px 2px 20px #a3a3c2;
}
.main__div__hazak{
    text-align: center;
    margin: 0 auto;
    border: 0;
    box-shadow: 2px 2px 20px #a3a3c2;
}
.main__div__hazak__td{
    margin: 30px;
    padding: 40px;
    text-align: left;
}
#houses-table{
    margin: 0 auto;
}
.main__div__hazak h1{
    margin: 15px;
    padding: 30px;
}
.main__div__szervezetek__td{
    margin: 20px;
    padding: 20px;
}
#organizations-table{
    margin: 0 auto;
}

.myCharacters_title{
    text-align: center;
    color: #f2f2f2;
}


.main_myCharacters{
    background-color: rgba(255, 255, 255, .2);
    padding: 10px;
    width: 14%;
    float: left;
    margin: 5px 5px;
    text-align: center;
    position: relative;
 
}

.myGallery_title{
    text-align: center;
    color: #f2f2f2;
    font-weight: lighter;
}

.main_myAllCharacters{
    float: left;
    margin: 0px 3px;
    position: relative;
    overflow: hidden;
    width: 22%;
    /*display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center; */
}

.main_myAllCharacters img{
    height: 150px;
}
.myCharacters{
    margin: 0 auto;
    text-align: center;
}
.main__div__portraits{
    margin: 0 auto;
    border: 0;
}